@charset "UTF-8";
.t4 ul{  
            list-style-type: none;  
  
        }  
  
.t4 ul li{  
  
            float:left;  
  
            /*以下设置仅为方便查看效果*/  
            width:80px;  
            height:20px;  
            border:1px solid black;  
            text-align: center;  
        }  
  
.t4 ul li ul{  
            display: none;  
        }  
  
.t4 li:hover ul{  
            display:block;  
        }  